/*******************************
	All Responsive Code
*******************************/
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.container {
    	max-width: 1250px;
	}

	/* Shop page */
	.shop-list .product-action {
	    top: 44%;
	}
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.main-menu nav ul li {
	    margin-right: 50px;
	}
	.slider-text {
    	padding-left: 70px;
	}

	/* Shop page */
	.shop-list .product-action {
    top: 59%;
	}
}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.slider-text, .banner-text {
    	padding-left: 70px;
	}
	.slider-text h2 {
	    font-size: 30px;
	}
	.slider-text p {
	    margin: 0 0 30px;
	}
	.nav-link {
	    padding-right: 45px;
	    padding-left: 0;
	}
	.footer-menu li {
	    margin-right: 20px;
	}

	/* Shop page */
	.product-filter {
	    margin-left: 0;
	    float: none;
	    padding-top: 82px;

	}
	.product-review span {
    	right: 25px;
	}
	.product-image.shop-list {
    	margin-bottom: 30px;
	}
	.shop-list .product-action {
	    top: 77%;
	}

	/* Blog page */
	.post-thumb {
    	margin-bottom: 30px;
	}
}


 
/* Extra small Device. */
@media (max-width: 767px) {
	.logo {
	    top: 0;
	}
	.header-right {
    	margin-top: 0;
	}
	.header-right ul li ul.minicart li .cart-content {
	    float: right;
	    padding-left: 10px;
	}
	.single-slider {
    	min-height: 350px;
	}
	.slider-text, .banner-text {
    	padding-left: 70px;
	}
	.slider-text h2 {
	    font-size: 30px;
	}
	.slider-text p {
	    margin: 0 0 30px;
	}
	.nav-link {
	    padding-right: 10px;
	    font-size: 15px;
	}
	.product-active.nav-style .owl-nav div {
    	display: none;
	}
	.product-active.nav-style .owl-nav::before {
    	display: none;
	}
	.subscribe-content form input {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.footer-social {
    	text-align: center;
	}
	.footer-menu {
    	text-align: center;
	}
	.footer-menu li {
	    margin-right: 35px;
	    margin-bottom: 15px;
	}

	/* Shop page */
	.product-categories-banner {
    	margin-top: 45px;
	}
	.product-image img {
	    width: 100%;
	}
	.product-filter {
	    margin-left: 0;
	    float: none;
	    padding-top: 82px;
	}
	.product-image.shop-list {
    	margin-bottom: 30px;
	}
	.shop-list .product-action {
	    top: 77%;
	}

	/* Products details page */
	.products-details-content {
    	margin-top: 30px;
	}
	.product-view .nav-link {
	    display: block !important;
	}

	/* Blog page */
	.compare-image {
    	margin-bottom: 45px;
	}
	.post-thumb {
    	margin-bottom: 30px;
	}
	/* Single post page */
	.leave-reply-wrapper {
    	margin-top: 45px;
	}
	/* 404 page */
	.page-404-error-content p {
	    padding: 0 0;
	}
	.protfolio-menu button {
	    padding: 5px 12px;
	    font-size: 14px;
	}
	.protfolio-menu {
    	margin-bottom: 30px;
	}
	.protfolio-menu button {
	    padding: 0 0;
	    margin-bottom: 9px;
	    outline: none;
	    font-size: 14px;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 6px;
	}
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.logo {
	    position: relative;
	    top: 30px;
	    cursor: pointer;
	}

	/* Products details page */
	.product-view .nav {
	    display: block !important;
	}
	
}
	